* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

nav {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    height: 60px;
}

h1 {
    margin-left: 30px;
    margin-right: auto;
    font-size: 1.5em;
    color: #00d4ff;
}

#calculator {
    color: white;
    text-transform: uppercase;
}

#github-logo {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#linkedin-logo {
    height: 30px;
    width: 30px;
    margin-right: 30px;
}

#Calculator-Container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 350px;
    max-width: 100%;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top: 60px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
}

#Bill-Amount,
#Tip-Amount,
#Total-Amount,
#Number-of-People,
#Tip-per-Person,
#Total-per-Person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    font-size: 0.8em;
    font-weight: 400;
}

#Tip-Percentage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0 0 0;
    font-size: 0.8em;
    font-weight: 400;
}

#percentage {
    font-size: 0.6em;
    color: gray;
}

#Lower-Part-Calculator-Container {
    margin: 40px 0 0 0;
    background-color: #090979;
    color: #00d4ff;
    padding: 5px 12px;
    border-radius: 5px;
}

input {
    border: none;
    background: #00d4ff;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.buttons {
    display: flex;
    margin-top: 40px;
}

#calculate-button {
    background-color: #090979;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: #00d4ff;
    font-size: 0.7em;
    font-weight: 600;
    padding: 5px 10px;
    text-transform: uppercase;
}

#reset-button {
    background-color: black;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 0.7em;
    font-weight: 600;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-left: 10px;
}

@media (orientation: landscape) {
    #Calculator-Container {
        max-height: 100%;
        padding: 20px 40px;
    }

    #Bill-Amount,
    #Tip-Amount,
    #Total-Amount,
    #Number-of-People,
    #Tip-per-Person,
    #Total-per-Person {
        margin: 8px 0;
        font-size: 0.6em;
    }

    #Tip-Percentage {
        margin: 15px 0 0 0;
        font-size: 0.6em;
    }

    #percentage {
        font-size: 0.5em;
    }

    #Lower-Part-Calculator-Container {
        margin: 40px 0 0 0;
        padding: 5px 12px;
    }

    .buttons {
        margin-top: 20px;
    }
}